@media (max-width: 376px) {
    .head-banner {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 50px;
    }

    .header {
        padding-right: 10px;
        padding-left: 10px;

    }

    .head-banner-pic {
        width: 100%;
    }

    .heading1 {
        font-size: 30px;
    }

    #lastbtn {
        width: 80%;
    }

    .btn-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 40px;

    }

    #second-banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-pic {
        width: 100%;
    }

    .relative-div {
        padding-bottom: 30px;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 50px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #last-heading {
        font-size: 20px;
    }

    .footer {
        padding-right: 20px;
        padding-left: 20px;
    }

    .cols-holder {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .icon-div {
        margin-top: 30px;
        display: flex;
        gap: 30px;
        flex: 1;
        margin-left: auto;
        margin-right: auto;
    }

    .last-para {
        text-align: center;
        justify-content: center;
        padding-bottom: 30px;
    }
}